# Xcode
build/
DerivedData/
*.xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.pbxuser
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager (unused, but ignore if ever generated)
.build/
.swiftpm/

# Test artifacts
*.xcresult
